@page "/"

@using DataTransfer.Campaign
@using Website.Services.API

@inject ICampaignOverviewApi campaignOverviewApi

<div class="background-image">
    <div class="centered-backdrop">
        <div class="list-group">
            @foreach (var campaign in campaignItems)
            {
                <a href="campaign/@campaign.Id" class="list-group-item list-group-item-action campaign-item-level-0">
                    <div class="campaign-item-icon">
                        <img width="60" height="60" src="https://pnghq.com/wp-content/uploads/dnd-dungeons-dragons-logo-transparent-background-png.png" />
                    </div>
                    <div class="campaign-item-level-1">
                        <div class="campaign-item-header">@campaign.Name</div>
                        <div class="campaign-item-level-2">
                            <div class="campaign-item-sub-header">Spielleiter</div>
                            <div class="campaign-item-player-name">@campaign.Gamemaster</div>
                        </div>
                        <div class="campaign-item-level-2">
                            <div class="campaign-item-sub-header">Spieler</div>
                            @foreach (var player in campaign.Characters)
                            {
                                <div class="campaign-item-player-name">@player</div>
                            }
                        </div>
                    </div>
                    @if (campaign.IsGamemaster)
                    {
                        <div class="campaign-item-button">
                            <button type="button" class="btn btn-primary btn-edit">
                                <i class="bi bi-pencil"></i>
                            </button>
                        </div>
                    }
                </a>
            }
        </div>

        <button type="button" class="btn btn-create btn-outline-success">Erstellen</button>
    </div>
</div>

@code {
    private readonly int userId = 1;

    private ICollection<CampaignOverviewItemDto> campaignItems = [];

    protected override async Task OnInitializedAsync()
    {
        var response = await campaignOverviewApi.GetAsync(userId);

        response.Match(
            campaignOverview =>
            {
                campaignItems = campaignOverview.CampaignItems;
            },
            errorCode =>
            {
                // ToDo: Log + Toast
                Console.WriteLine(errorCode);
            }
        );
    }
}
