.micro-menu {
    position: absolute;
    width: 50px;
    top: 10px;
    right: 10px;
}

.btn-overlay {
    z-index: 1;
    width: 50px;
    height: 50px;
    margin: 0px 0px 2px 0px;
    color: #ffffff;
    background-color: #373B4A;
    border: 1px solid #1f222b;
}

    .btn-overlay:hover {
        background-color: #43485c;
        transform: scale(1.05);
    }

.left-panel {
    width: 65%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.master-panel {
    display: flex;
    width: 100%;
    height: 100%;
}

.right-panel {
    width: 35%;
    height: 100%;
    background-color: #373B4A;
    border-left: 1px solid black;
}

.tab {
    overflow: hidden;
    border-bottom: 1px solid #1f222b;
}

    .tab button {
        color: #ffffff;
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 5px 20px;
        transition: 0.3s;
        border-radius: 5px;
        margin: 5px;
    }

        .tab button:hover {
            background-color: #43485c;
        }

        .tab button.active {
            background-color: #1f222b;
        }

.tab-content {
    height: calc(100% - 69px);
    color: #ffffff;
    margin: 10px;
}

.tab-content-element {
    height: 100%;
}

.hidden {
    display: none;
}

.overlay-trigger {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    z-index: 101;
    background: transparent;
}

    .overlay-trigger.disabled {
        pointer-events: none;
    }

.overlay-left {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    z-index: 100;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    border-right: 1px solid #fff;
    transition: left 0.35s ease;
    align-items: stretch;
    box-sizing: border-box;
    pointer-events: auto;
}

    .overlay-left.visible {
        left: 0;
    }

.overlay-right {
    position: fixed;
    top: 0;
    left: 0;
    width: 35%;
    height: 100%;
    z-index: 100;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    box-shadow: 4px 0 12px rgba(0, 0, 0, 0.5);
    transition: transform 0.35s ease;
}

    .overlay-right.shifted {
        transform: translateX(300px);
    }

.top-menu {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4px;
    padding: 0px 4px;
    border-bottom: 1px solid white;
}

.overlay-content {
    height: calc(100% - 60px);
    padding: 5px;
}
