.btn-overlay {
    z-index: 1;
    width: 50px;
    height: 50px;
    margin: 0px 0px 2px 0px;
    color: #ffffff;
    background-color: #373B4A;
    border: 1px solid #1f222b;
}

    .btn-overlay:hover {
        background-color: #43485c;
        transform: scale(1.05);
    }

.content-hidden {
    display: none;
}

.content-visible {
    height: 100%;
}

.filter-box {
    width: calc(100% - 10px);
    margin: 5px;
    background: transparent;
    border: solid 1px #ffffff;
    color: #ffffff;
}

.hidden {
    display: none;
}

.map-panel {
    position: absolute;
    top: 0;
    left: 35%;
    right: 0;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.master-panel {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

.micro-menu {
    position: absolute;
    width: 50px;
    top: 10px;
    right: 10px;
}

.overlay-content {
    height: calc(100% - 60px);
    padding: 5px;
}

.overlay-left {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    z-index: 100;
    color: #ffffff;
    background: #373B4A;
    backdrop-filter: blur(8px);
    border-right: 1px solid #fff;
    transition: left 0.35s ease;
    align-items: stretch;
    box-sizing: border-box;
    pointer-events: auto;
}

    .overlay-left.visible {
        left: 0;
    }

.overlay-right {
    position: fixed;
    top: 0;
    left: 0;
    width: 35%;
    height: 100%;
    z-index: 100;
    color: #ffffff;
    background: #373B4A;
    backdrop-filter: blur(8px);
    box-shadow: 4px 0 12px rgba(0, 0, 0, 0.5);
    transition: transform 0.35s ease;
}

    .overlay-right.shifted {
        transform: translateX(300px);
    }

.overlay-trigger {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    z-index: 101;
    background: transparent;
}

    .overlay-trigger.disabled {
        pointer-events: none;
    }

.top-menu {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4px;
    padding: 0px 4px;
    border-bottom: 1px solid white;
}

.tree {
    padding-left: 0;
    user-select: none;
    --spacing: 1.5rem;
    --radius: 3px;
}

    .tree details > summary::before {
        content: "+";
        position: absolute;
        top: calc(var(--spacing) / 2 - var(--radius));
        left: calc(var(--spacing) - var(--radius) - 1px);
        width: calc(2 * var(--radius));
        height: calc(2 * var(--radius));
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        background: none;
    }

    .tree details[open] > summary::before {
        content: "−";
    }

    .tree li {
        display: block;
        position: relative;
        padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
    }

        .tree li:not(:has(details))::before {
            content: "";
            position: absolute;
            top: calc(var(--spacing) / 2 - var(--radius));
            left: calc(var(--spacing) - var(--radius) - 1px);
            width: calc(2 * var(--radius));
            height: calc(2 * var(--radius));
            border-radius: 50%;
            background: #ffffff;
        }

    .tree summary {
        display: flex;
        align-items: center;
        justify-content: space-between; /* put icon to the far right */
        padding-right: 0;
        cursor: pointer;
        gap: 0.5rem;
    }

        .tree summary::marker {
            display: none;
        }

        .tree summary:focus {
            outline: none;
        }

    .tree ul {
        margin-left: calc(var(--radius) - var(--spacing));
        padding-left: 0;
    }

.tree-content-item {
    cursor: pointer;
}

.tree-content-label {
    display: inline-block;
    transform-origin: left;
    transition: transform 100ms ease-in-out;
}

    .tree-content-label:hover:not(:has(.tree-content-label:hover)) {
        transform: scale(1.1);
    }

.tree-content-item:hover .tree-content-label:not(:hover) {
    transform: none;
}

.tree-icon-button {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    background: transparent;
    display: inline-flex;
    cursor: pointer;
    margin: 2px 5px auto auto;
}

    .tree-icon-button:focus {
        outline: 2px solid rgba(255,255,255,0.2);
        border-radius: 3px;
    }

.tree-icon {
    width: 16px;
    height: 16px;
}

    .tree-icon:hover {
        transform: scale(1.2);
    }
