@page "/campaignCreation"
@page "/campaignCreation/{campaignId:int}"
@rendermode InteractiveServer

@using DataTransfer.Campaign;
@using DataTransfer.User;
@using Website.Services
@using Website.Services.API

@inject ICampaignCreationApi CampaignCreationApi
@inject IIdentityProvider IdentityProvider
@inject NavigationManager NavigationManager

<PageTitle>Pen & Paper Kampagnenerstellung</PageTitle>

<div class="background-image">
    <div class="centered-backdrop">
        <div class="input-group top-panels">
            <div class="input-group-prepend">
                <i class="bi bi-person-circle input-group-text icons"></i>
            </div>
            <input type="text" class="form-control" @bind="_campaignName" placeholder="Kampagnenname"
                   aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group top-panels">
            <div class="input-group-prepend">
                <i class="bi bi-compass input-group-text icons"></i>
            </div>
            <input type="text" class="form-control" @bind="_gamemaster" readonly placeholder="Spielleiter"
                   aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="player-selection">
            <div class="left-panel">
                <h4 class="headings">Spielerliste</h4>
                <ul class="list-group">
                    @foreach (var user in _usersNotInCampaign)
                    {
                        <button type="button" class="list-group-item"
                                @onclick="() => OnAddPlayer(user)">@user.Username</button>
                    }
                </ul>
            </div>
            <div class="right-panel">
                <h4 class="headings">Spieler in Kampagne</h4>
                <ul class="list-group">
                    @foreach (var user in _usersInCampaign)
                    {
                        <button class="list-group-item" @onclick="() => OnRemovePlayer(user)">@user.Username</button>
                    }
                </ul>
            </div>
        </div>
        <div class="bottom-panel">
            <button type="button" class="btn btn-outline-warning buttons" @onclick="OnCancel">Abbrechen</button>
            <button type="button" class="btn btn-outline-success buttons" @onclick="OnOk">@ButtonText</button>
        </div>
    </div>
</div>

@code {
    [Parameter] public int? CampaignId { get; set; }

    private string ButtonText => CampaignId is null ? "Erstellen" : "Aktualisieren";

    private string _campaignName = string.Empty;
    private string _gamemaster = string.Empty;
    private List<UsersDto> _usersNotInCampaign = [];
    private List<UsersDto> _usersInCampaign = [];

    protected override async Task OnInitializedAsync()
    {
        var campaignId = CampaignId ?? -1;

        var user = await IdentityProvider.GetUserAsync();

        var response = await CampaignCreationApi.GetAsync(campaignId, user.Id);

        response.Match(
            campaign =>
            {
                _campaignName = campaign.CampaignName;
                _gamemaster = campaign.Gamemaster.Username;
                _usersInCampaign = campaign.UsersInCampaign.ToList();
                _usersNotInCampaign = campaign.UsersNotInCampaign.ToList();
            },
            errorCode =>
            {
                // ToDo: Log + Toast
            }
        );
    }

    private void OnAddPlayer(UsersDto user)
    {
        _usersNotInCampaign.Remove(user);
        _usersInCampaign.Add(user);
    }

    private void OnRemovePlayer(UsersDto user)
    {
        _usersInCampaign.Remove(user);
        _usersNotInCampaign.Add(user);
    }

    private void OnCancel()
    {
        NavigationManager.NavigateTo("/");
    }

    private async Task OnOk()
    {
        var me = await IdentityProvider.GetUserAsync();

        var campaignId = CampaignId ?? -1;
        var campaignCreation = new CampaignCreationDto(
            campaignId,
            _campaignName,
            me,
            _usersNotInCampaign,
            _usersInCampaign);

        HttpResponse response;

        if (CampaignId is null)
        {
            response = await CampaignCreationApi.PostAsync(campaignCreation);
        }
        else
        {
            response = await CampaignCreationApi.PutAsync(campaignCreation);
        }

        if (response.Succeded)
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {
            // ToDo: Toast and log
        }
    }

}

