.centered-backdrop {
    position: absolute;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 50%;
    background: #000000A0;
}

.background-image {
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url('https://w.wallhaven.cc/full/6k/wallhaven-6k5x9w.jpg');
}

.btn-area {
    display: flex;
}

.btn-edit {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.btn-enter {
    width: 49%;
    margin: 6px;
}

.btn-create {
    width: 49%;
    margin: 6px;
    margin-left: auto;
}

.campaign-item-level-0 {
    display: flex;
}

.campaign-item-level-1 {
    margin-left: 10px;
    user-select: none;
}

.campaign-item-level-2 {
    display: flex;
}

.campaign-item-level-3 {
}

.campaign-item-icon {
    border: 1px solid black;
    border-radius: 5px;
}

.campaign-item-button {
    width: 30px;
    height: 30px;
    align-self: center;
    margin-left: auto;
}

.campaign-item-header {
    font-size: 16px;
    font-weight: bold;
}

.campaign-item-sub-header {
    font-size: 14px;
    font-weight: bold;
}

.campaign-item-player-name {
    font-size: 14px;
    font-style: italic;
    margin-left: 10px;
}

.list-group {
    margin: 5px;
    height: calc(100% - 60px);
    overflow: auto;
}
