@using ApiClient
@using DataTransfer.Character
@using Website.Services

@inject ICharacterApi CharacterApi
@inject IDragAndDrop DragAndDrop
@inject ILogger<Characters> Logger

@if (_isCreatingCharacter)
{
    <CharacterCreation CampaignId="CampaignId" OnCreated="OnCreated"></CharacterCreation>
}
else
{
    <div class="characters">
        <button type="button" class="btn btn-outline-success" @onclick="OnCreate">Erstellen</button>
        @foreach (var character in _characters)
        {
            <div class="character" draggable="true" @ondragstart="() => OnDragStart(character)">
                <img class="character-image" src="data:image/png;base64,@Convert.ToBase64String(character.Image)"
                     alt="Icon" />
                <div class="character-texts">
                    <div class="character-text-row">
                        <div class="character-text-title">Spieler</div>
                        <div class="character-name">@character.PlayerName</div>
                    </div>
                    <div class="character-text-row">
                        <div class="character-text-title">Charakter</div>
                        <div class="character-name">@character.CharacterName</div>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {
    [Parameter] public int CampaignId { get; set; }

    private IEnumerable<CharactersDto> _characters = [];
    private bool _isCreatingCharacter = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await UpdateCharacterList();
            await InvokeAsync(StateHasChanged);
        }
    }

    private void OnDragStart(CharactersDto character)
    {
        DragAndDrop.Data = character;
    }

    private void OnCreate()
    {
        _isCreatingCharacter = true;
    }

    private async Task OnCreated()
    {
        await UpdateCharacterList();
        _isCreatingCharacter = false;
        await InvokeAsync(StateHasChanged);
    }

    private async Task UpdateCharacterList()
    {
        var response = await CharacterApi.GetAllAsync(CampaignId);

        _characters = response.Match<IEnumerable<CharactersDto>>(
            characters => characters,
            statusCode =>
            {
                // ToDo: Toast
                Logger.LogError("Failed to get character overview ({statusCode})", statusCode);
                return [];
            });
    }

}