:host {
    display: block;
    height: 100%;
}

.location-root {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow: auto;
}

.top-area {
    display: flex;
    gap: 0.5rem;
    align-items: stretch;
}

.left-side {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.buttons-row {
    display: flex;
    gap: 0.5rem;
}

    .buttons-row > button {
        flex: 1 1 0;
    }

.location-input {
    width: 100%;
    box-sizing: border-box;
}

.right-side {
    width: 30%;
    display: flex;
}

    .right-side > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.script-area {
    flex: 1 1 auto;
    overflow: auto;
}

.edit-button {
    position: absolute;
    right: 0;
    top: 0;
}

.edit-buttons {
    float: right;
}

.edit-view {
    height: calc(100% - 45px);
}

    .edit-view textarea {
        width: 100%;
        height: 100%;
        padding: 10px;
        background-color: transparent;
        border: 1px solid black;
        border-radius: 5px;
        color: #ffffff;
        resize: none;
        margin: 0 0 5px 0;
    }

.markdown-view {
    height: 100%;
    position: relative;
    overflow-y: auto;
}

.button-text {
    margin: 0 0 0 5px;
}
